@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #4b0082;
}

:root {
  color-scheme: light;
}

body, html {
  background-color: #eefbf1 !important;
  margin: 0;
  padding: 0;
}
